p {
    line-height: 2rem;
}
#index-banner {

}

#menu {
    position: absolute;
    top: 10%;
    left: 0%;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.table-of-contents a {
    color: #777475;
    font-size: 150%;
    font-weight: 400;
    font-family: italic;
}

.table-of-contents a.active {
    font-weight: 500;
    padding-left: 18px;
    border-left: 10px solid #ea4a4f;
}



@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
    .table-of-contents{
        display: none;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
    .table-of-contents{
        display: none;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}
